[submodule "third_party/parmetis"]
	path = third_party/parmetis
	url = https://github.com/scibuilder/parmetis.git
[submodule "third_party/gotm"]
	path = third_party/gotm
	url = https://github.com/gotm-model/code.git
[submodule "src/WWMIII"]
	path = src/WWMIII
	url = https://github.com/ivicajan/WWM.git
