2 !# of transfer blocks
1.e-2  !Nudging factor
1 struct_one  ! block number, name
6 976 994   !  # of node-pairs, 2 ref. nodes (global indices) for 2 faces
984 990 !node pair
983 989
982 988
981 987
980 986
979 985
weir          ! struct type  
2             ! nduplicate = 2
1.0  100.     ! invert elevation, width per weir
0.8  1.0 1.0  1 coef, op_downstream, op_upstream
2 struct_two  ! block_number, name
6 1133 1136 ! # of node-pairs,2 ref. nodes (global indices) for 2 faces
1209 1210
1159 1160
1134 1135
1109 1110
1084 1085
1184 1185
weir          ! struct type
2             ! nduplicate = 2
1.0  100.     ! invert elevation, width per weir
0.8  1.0 1.0  1 coef, op_downstream, op_upstream

