name: release documentation 

on:
  push:
    branches:
      - 'v*.*'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure git user
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install python packages
        run: |
          pip install --upgrade pip
          pip install mike mkdocs mkdocs-material
      
      - name: Deploy with mike
        run: |
          mike deploy --push ${{ github.ref_name }}
          mike set-default --push stable
