name: release documentation 

on:
  push:
    branches:
      - 'v*.*'
      - docs_update

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install python packages
        run: |
          pip install --upgrade pip
          pip install zensical mike
      
      - name: Configure git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      
      - name: Get tag of the version
        uses: olegtarasov/get-tag@v2.1
        id: tag_name
      
      - name: Get branch names
        id: branch-name
        uses: tj-actions/branch-names@v9.0.0
      
      - name: Deploy with mike
        run: |
          mike deploy --push ${{ steps.branch-name.outputs.current_branch }} ${{ steps.tag_name.outputs.tag }} --builder "zensical build"
          mike set-default --push stable
